<div class="list-item">
    <div class="item-box d-md-flex align-items-center justify-content-between mb-30">

        <div class="item-left my-4 d-md-flex align-items-center flex-wrap">
            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                {{user_initials}}
            </div>
            <div class="item-content">
                <h5 class="text-center text-md-left">item_title{{item_title}}</h5>
                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                    <li class="mr-md-4">
                        <i class="zmdi zmdi-pin mr-2"></i> first_item{{first_item}}
                    </li>
                    <li class="mr-md-4">
                        <i class="zmdi zmdi-money mr-2"></i> second_item{{second_item}}
                    </li>
                    <li class="mr-md-4">
                        <i class="zmdi zmdi-time mr-2"></i> third_item{{third_item}}
                    </li>
                    <li class="mr-md-4">
                        <i class="zmdi zmdi-time mr-2"></i> fourth_item{{fourth_item}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="item-right my-4 flex-shrink-0">
            <a href="#" class="btn d-block w-100 d-sm-inline-block btn-light">Apply now</a>
        </div>
    </div>
</div>