:root {
  --color-primary: #269fe6;
  --color-primary-hover: #2086c2;
  --color-primary-dark: #13141f;
  --color-primary-dark-hover: #212336;
  --color-primary-light: #d4ecfa;
  --color-primary-light-hover: #bdd8e7;

  --color-white: #fff;
  --color-black: #000;

  --color-dark-text: #444;
  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-alert-dark: #927f40;
  --color-warning-dark: #927f40;
  --color-error-dark: #da525d;

  --color-gray-0: #f9f9f9;
  --color-gray-1: #e0e0e0;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --font-primary: sans-serif;
  --font-headings: 'Roboto Slab', serif;

  --font-size-small: 1.2rem;
  --font-size-regular: 1.6rem;
  --font-size-big: 2rem;

  --spacing-gutter-small: 2rem;
  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;

  --padding-small: 1rem;
  --padding-medium: 2rem;
  --padding-large: 4rem;

  --border-radius-small: 1rem;
  --border-radius-medium: 2rem;
  --border-radius-large: 4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
html {
  font-size: 80%;
}
  
body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  background: var(--color-gray-0);
  color: var(--color-dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

img{
  max-width: 100%;
}

a, a:hover{
  text-decoration: none;
  color: inherit;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

hr{
  border-color:#aaa;
  box-sizing:border-box;
  width:100%;  
}

.send-form-button {
  display: inline;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-primary);
  font-size: 1.6rem;
}

.main-content-container{
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 100rem;
  height: 100vh;
  /* border: 1px solid red; */
}

.word-breaker{
  overflow-wrap: anywhere;
}

.caixa-pesquisa{
  padding: var(--padding-small);
  border: 2px solid rgb(244, 244, 244);
  background-color: rgb(227, 227, 227);
  border-radius: var(--border-radius-medium);
}

.font-small{
  font-size: var(--font-size-small);
}
.font-medium{
  font-size: var(--font-size-regular);
}
.font-big{
  font-size: var(--font-size-big);
}

.borda{
  border: 1px solid red;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

#login-card{
  max-width: 40rem;
  height: 100vh;
  margin: 0 auto;
  /* background-color: #868282; */
  /* color: white; */
  padding: 5rem;
}

.card-head{
  text-align: center;
}

/* MESSAGES */
.messages-container {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing-gutter-medium) / 2);
  margin-top: 1rem;
}

.message {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-dark-text);
  background: var(--color-gray-2);
  color: var(--color-dark-text);
  text-align: center;
  margin-bottom: 1rem;
  /* max-width: 10rem; */
}

.message-error {
  border: 1px solid var(--color-error-dark);
  background: var(--color-error-light);
  color: var(--color-error-dark);
}

.message-success {
  border: 1px solid var(--color-success-dark);
  background: var(--color-success-light);
  color: var(--color-success-dark);
}

.message-warning {
  border: 1px solid var(--color-warning-dark);
  background: var(--color-warning-light);
  color: var(--color-warning-dark);
}

.message-alert {
  border: 1px solid var(--color-alert-dark);
  background: var(--color-alert-light);
  color: var(--color-alert-dark);
}

.message-info {
  border: 1px solid var(--color-info-dark);
  background: var(--color-info-light);
  color: var(--color-info-dark);
}

.message-debug {
  border: 1px solid var(--color-debug-dark);
  background: var(--color-debug-light);
  color: var(--color-debug-dark);
}

/* TABLES */
table{
  text-align: center;
}

/* TOTALIZERS CARDS */
/* .order-card {
  color: #fff;
} */

/* .bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg,#FF5370,#ff869a);
} */


.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: var(--padding-medium);
}

/* .order-card i {
  font-size: 26px;
} */

.f-left {
  float: left;
}

.f-right {
  float: right;
}



/* TENTATIVA DE BORDA NAS CELULAS */
/* .table > :not(caption) > * > * > *{
  margin: 5px solid red;

} */


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* form card */
.entry-card .card-header:first-child {
  border-radius: .25rem .25rem 0 0;
}
.p-3 {
  padding: 1rem!important;
}
.align-items-start {
  align-items: flex-start!important;
}
.flex-column {
  flex-direction: column!important;
}
.border-bottom {
  border-bottom: 1px solid #cbd5e0!important;
}
.entry-card .card-footer, .entry-card .card-header {
  display: flex;
  align-items: center;
}
.entry-card .card-header {
  padding: .5rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 solid rgba(0,0,0,.125);
}
.entry-card .card-footer:last-child {
  border-radius: 0 0 .25rem .25rem;
}
/* .h3, h3 {
  font-size: 1.75rem;
} */
.p-3 {
  padding: 1rem!important;
}
.justify-content-center {
  justify-content: center!important;
}
.entry-card .card-footer, .entry-card .card-header {
  display: flex;
  align-items: center;
}
.entry-card .card-footer {
  padding: .5rem 1rem;
  background-color: #fff;
  border-top: 0 solid rgba(0,0,0,.125);
}
.entry-card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.entry-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
  /* max-width: 30rem; */
}

/* COLORS CLASSES */


.color-primary{
  color: var(--color-primary);
}

.color-danger{
  color: var(--color-error-dark);
}

.color-warning{
  color: var(--color-warning-dark);
}

.color-success{
  color: var(--color-success-dark);
}

.color-disable{
  color: var(--color-gray-3);
}

.color-income{
  background: rgb(230,230,249);
  background: radial-gradient(circle, rgba(230,230,249,1) 53%, rgba(206,208,247,1) 100%);
}
.color-expense{
  background: rgb(255,248,249);
  background: radial-gradient(circle, rgba(255,248,249,1) 30%, rgba(255,235,239,1) 100%);
}


/* LIST CSS */
.list-item .item-box {
  border-radius: 10px;
  padding: var(--padding-small);
}

ul {
  list-style: none; 
}

.list-disk li {
  list-style: none;
  margin-bottom: 12px;
}

.list-disk li:last-child {
  margin-bottom: 0;
}

.item-box .img-holder {
  height: 65px;
  width: 65px;
  background-color: #4e63d7;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 65px;
}

/* .career-title {
  background-color: #4e63d7;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
} */

/* .item-overview {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
}

@media (min-width: 992px) {
  .item-overview {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }
}

.item-overview .item-detail ul {
  margin-bottom: 28px;
}

.item-overview .item-detail ul li {
  opacity: 0.75;
  font-weight: 600;
  margin-bottom: 15px;
}

.item-overview .item-detail ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.item-overview .overview-bottom,
.item-overview .overview-top {
  padding: 35px;
} */

.item-content ul li {
  font-weight: 600;
  opacity: 0.75;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}

@media (min-width: 768px) {
  .item-content ul li {
    border-bottom: 0;
    padding: 0;
  }

  .item-right{
    align-self: center;
  }
}



.item-content ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.mb-30 {
    margin-bottom: 30px;
}