<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">
        {% comment %} impede a injeção de informações diretamente pela url {% endcomment %}
        {% csrf_token %}
        {% for campo in form %}
        <div>
            <label for="campo.id_for_label">{{campo.label}}</label>
            {{campo}}

        </div>
        {% endfor %}
    </form>
</body>
</html>