{% load static %}
<link rel="stylesheet" href="{% static 'global/style.css' %}">
<link rel="stylesheet" href="{% static 'global/bootstrap/css/bootstrap.min.css' %}">


<form action="{{form_action}}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
        {% comment %} <label for="{{field.id_for_label}}">{{field.label}}:</label> <!--Assim permite um controle refinado sobre o label mas também pode ser feito da foram a seguir--> {% endcomment %}
        {{field.label_tag}}
        
        {{field}}
    </div>
    {% endfor %}
    
    <input type="submit" value="OK">
</form>

<p class='btn btn-lg'>teste</p>
<div class='btn btn-lg'>teste</div>

{% comment %} <script src="{%static global/bootstrap/js/bootstrap.min.js %}"></script> {% endcomment %}