{% load number_filters %}
<div class="mt-2 container px-2">
  {% if entries %}
    {% for entry in entries %}
    <a href="{% url "entries:detalhes" slug=entry.slug %}">
      <div class="list-item">
        {% if entry.id_type.title == 'Despesa' %}
        <div class="item-box d-md-flex align-items-center justify-content-between mb-30 color-expense">
        {% elif entry.id_type.title == 'Receita' %}
        <div class="item-box d-md-flex align-items-center justify-content-between mb-30 color-income">
        {% endif %}
          <div class="item-left my-4 d-md-flex align-items-center flex-wrap">
            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
              {% if entry.id_titular_user.first_name == 'Leonardo' %}
              LP
              {% else %}
              MB
              {% endif %}
            </div>
            <div class="item-content">
              <h5 class="text-center text-md-left ml-1">{{entry.id_titular_user}}</h5>
              <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                <li class="mr-md-4">
                  <span class="font-small">Título: </span>{{entry.title|truncatechars:25}}
                </li>
                <li class="mr-md-4">
                  <span class="font-small">Data: </span>{{entry.entry_date|date:'d/m/Y'}}
                </li>
                <li class="mr-md-4">
                  <span class="font-small">Valor: </span>{{entry.value|currency_format}}
                </li>
                <li class="mr-md-4">
                  <span class="font-small">Modalidade: </span>{{entry.id_modality}}
                </li>
                <li class="mr-md-4">
                  <span class="font-small">Categoria: </span>{{entry.id_category}}
                </li>
              </ul>
            </div>
          </div>

          <div class="item-right my-4 flex-shrink-0">
            <form action="{% url "entries:delete" pk=entry.id %}" method='post'>
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ entry.id }}">
              <button class="send-form-button" type="submit">❌</button>
            </form>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <h1>Não existem lançamentos por enquanto...</h1>
    {% endif %}
</div> 


{% comment %} <div class="table-responsive">
    <table class="table table-responsive table-borderless">

    <thead>
      <tr class="bg-light">
        <th class="" scope="col" width="10%">Data</th>
        <th class="" scope="col" width="40%">Titulo</th>
        <th class="" scope="col" width="10%">Valor</th>
        <th class="" scope="col" width="10%">Parcelas</th>
        <th class="" scope="col" width="10%">Tipo</th>
        <th class="" scope="col" width="10%"><span>Titular</span></th>
        <th class="" scope="col" class="text-end" width="10%"><span>Compartilhada</span></th>
      </tr>
    </thead>
      <tbody>
      {% for entry in entries %}
        <tr>
          <td ><a href="{{entry.get_absolute_url}}">{{entry.entry_date | date:'d/m/Y'}}</a></td>
          <td><span class='d-inline-block'>{{entry.title}}</span></td>
          <td><span class="ms-1">{{entry.value}}</span></td>
          <td><span class="ms-1">{{entry.installments_number}}</span></td>
          <td>{{entry.id_type}}</td>
          <td class="text-end">{{entry.id_titular_user}}</td>
          <td><span{% if entry.shared %} class="material-icons color-success">check {% elif entry.shared == False %} class="material-icons color-danger">close{% endif %}</span></td>
          <td>
          <form action="{% url "entries:delete" pk=entry.id %}" method='post'>
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ entry.id }}">
            <button class="send-form-button" type="submit">❌</button>
          </form>
          </td>
        </tr>
      {% endfor %}



      </tbody>
    </table>

  </div> {% endcomment %}