<div class="p-4">
    <form action="" method="post">
        {% comment %} impede a injeção de informações diretamente pela url {% endcomment %}
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="{{form.title.id_for_label}}">{{form.title.label}}</label>
                {{form.title}}
            </div>
            <div class="form-group col-md-4">
                <label for="{{form.value.id_for_label}}">{{form.value.label}}</label>
                {{form.value}}
            </div>
            <div class="form-group col-md-3">
                <label for="{{form.entry_date.id_for_label}}">{{form.entry_date.label}}</label>
                {{form.entry_date}}
            </div>
    
            <div class="form-group col-md-9">
                <label for="{{form.description.id_for_label}}">{{form.description.label}}</label>
                {{form.description}}
            </div>

            <div class="form-group col-md-3">
                <label class='' for="{{form.id_category_id_for_label}}">{{form.id_category.label}}</label>
                {{form.id_category}}
            </div>

            <div class="form-group col-md-3">
                <label for="{{form.id_type_id_for_label}}">{{form.id_type.label}}</label>
                {{form.id_type}}
            </div>
            
            <div class="form-group col-md-3">
                <label class='' for="{{form.id_bank_account_id_for_label}}">{{form.id_bank_account.label}}</label>
                {{form.id_bank_account}}
            </div>

            <div class="form-group col-md-3">
                <label class='' for="{{form.id_modality_id_for_label}}">{{form.id_modality.label}}</label>
                {{form.id_modality}}
            </div>


            <div class="form-group col-md-3">
                <label class='' for="{{form.installments_number_id_for_label}}">{{form.installments_number.label}}</label>
                {{form.installments_number}}
            </div>


            <div class="form-group col-md-3">
                <label class='' for="{{form.id_titular_user_id_for_label}}">{{form.id_titular_user.label}}</label>
                {{form.id_titular_user}}
            </div>

            <div class="form-group col-md-3">
                <label class='' for="{{form.id_card_id_for_label}}">{{form.id_card.label}}</label>
                {{form.id_card}}
            </div>


            <div class="form-group col-md-3">
                <label class='' for="{{form.shared_id_for_label}}">{{form.shared.label}}</label>
                {{form.shared}}
            </div>

            <div class="form-group col-md-3">
                <label class='' for="{{form.fixed_id_for_label}}">{{form.fixed.label}}</label>
                {{form.fixed}}
            </div>
 
        </div>
    
        {% comment %} {{form.id_usuario_ativo}} {% endcomment %}
       
        <button type="submit" class=" btn btn-primary">Cadastrar</button>
    </form>
</div>
