{% load number_filters %}
<div class="container">
    <div class="row justify-content-around">        
        <div class="col-md-4 col-xl-3">
            <div class="card color-income order-card">
                <div class="card-block">
                    <h6 class="m-b-20 font-big">Receitas</h6>
                    <h2 class="text-right">{{totalizers.sum_credits|currency_format}}</h2>   
                    <p class="m-b-0 font-small">Compartilhadas<span class="f-right">{{totalizers.sum_shared_credits|currency_format}}</span></p>
                    <p class="m-b-0 font-small">Não compartilhadas<span class="f-right">{{totalizers.sum_not_shared_credits|currency_format}}</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card color-expense order-card">
                <div class="card-block">
                    <h6 class="m-b-20 font-big">Despesas</h6>
                    <h2 class="text-right">{{totalizers.sum_debits|currency_format}}</h2>   
                    <p class="m-b-0 font-small">Compartilhadas<span class="f-right">{{totalizers.sum_shared_debits|currency_format}}</span></p>
                    <p class="m-b-0 font-small">Não compartilhadas<span class="f-right">{{totalizers.sum_not_shared_debits|currency_format}}</span></p>
                </div>
            </div>
        </div>
	</div>
</div>