{% extends "global/base.html" %}
{% block title %}Início{% endblock title %}
{% block content %}
<div class="p-3">
    <form action="{% url "entries:logout_user" %}" method="POST">
        {% csrf_token %}
        {% include "global/partials/messages.html" %}
        <input type="hidden" name="username" value="{{request.user.username}}">
        <button class="btn btn-warning" type="submit">Sair</button>
    </form>

    <button class='btn btn-success text-white mt-3'><a href="{% url "entries:new" %}">Novo lançamento</a></button>

</div>
{% endblock content %}