<div class="mt-2 container px-2">
  <form class="form-inline justify-content-center align-middle mb-2 " action="{% url "lancamentos:extrato" %}" method='post'>
    {% csrf_token %}
    <div class="form-group caixa-pesquisa align-middle">
      <label class="form-label align-middle " for="start_date">Data Início: </label>
      <input type="date" class="form-control ml-1 " id="start_date" name='start_date'>
    
      <label class="form-label align-middle ml-3" for="end_date">Data Fim: </label>
      <input type="date" class="form-control ml-1 " id="end_date" name='end_date'>
    
      <button type="submit" class="btn btn-primary ml-1">Filtrar</button>
    </div>
  </form>
  {% if lancamentos %}
  <div class="table-responsive">
    <table class="table table-responsive table-borderless">

    <thead>
      <tr class="bg-light">
        <th scope="col" width="10%">Data</th>
        <th scope="col" width="50%">Titulo</th>
        <th scope="col" width="10%">Valor</th>
        <th scope="col" width="10%">Tipo</th>
        <th scope="col" width="10%"><span>Titular</span></th>
        <th scope="col" class="text-end" width="10%"><span>Compartilhada</span></th>
      </tr>
    </thead>
      <tbody>
      {% for lancamento in lancamentos %}
        <tr>
          <td ><a href="{{lancamento.get_absolute_url}}">{{lancamento.entry_date | date:'d/m/Y'}}</a></td>
          <td><span class='d-inline-block'>{{lancamento.title}}</span></td>
          <td><span class="ms-1">{{lancamento.value}}</span></td>
          {% comment "" %}<i class="material-symbols-outlined">check_circle</i>{% endcomment %}
          <td>{{lancamento.id_type}}</td>
          <td class="text-end">{{lancamento.id_titular_user}}</td>
          <td><span{% if lancamento.shared %} class="material-icons color-success">check {% elif lancamento.shared == False %} class="material-icons color-danger">close{% endif %}</span></td>
          <td>
          <form action="{% url "lancamentos:delete" pk=lancamento.id %}" method='post'>
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ lancamento.id }}">
            <button class="send-form-button" type="submit">❌</button>
          </form>
          </td>
        </tr>
      {% endfor %}



      </tbody>
    </table>

  </div>
    {% else %}
    <h1>Não existem lancamentos por enquanto...</h1>
    {% endif %}
</div> 