<div class="mt-2 container px-2">
    <form class="form-inline justify-content-center align-middle mb-2 " action="{% url "lancamentos:installment_list" %}" method='post'>
      {% csrf_token %}
      <div class="form-group caixa-pesquisa align-middle">
        <label class="form-label align-middle " for="start_date">Data Início: </label>
        <input type="date" class="form-control ml-1 " id="start_date" name='start_date'>
      
        <label class="form-label align-middle ml-3" for="end_date">Data Fim: </label>
        <input type="date" class="form-control ml-1 " id="end_date" name='end_date'>
      
        <button type="submit" class="btn btn-primary ml-1">Filtrar</button>
      </div>
    </form>
    {% if installments %}
    <div class="table-responsive">
      <table class="table table-responsive table-borderless">
  
      <thead>
        <tr class="bg-light">
          <th scope="col" width="10%">Lancamento</th>
          <th scope="col" width="10%">Parcela</th>
          <th scope="col" width="10%">Valor</th>
          <th scope="col" width="40%">Data do vencimento</th>
          <th scope="col" width="10%"><span>Compartilhada</span></th>
          <th scope="col" width="10%"><span>Quitada</span></th>
          <th scope="col" width="10%"></th>
        </tr>
      </thead>
        <tbody>
        {% for installment in installments %}
          <tr>
            <td ><a href="{{installment.id_entry.get_absolute_url}}">{{installment.id_entry}}</a></td>
            <td><span class='d-inline-block'>{{installment.number}}/{{installment.id_entry.installments_number}}</span></td>
            <td><span class="ms-1">{{installment.value}}</span></td>
            <td>{{installment.due_date | date:'d/m/Y'}}</td>
            <td><span{% if installment.id_entry.shared %} class="material-icons color-success">check {% elif installment.id_entry.shared == False %} class="material-icons color-danger">close{% endif %}</span></td>
            <td>
            {% comment %} <form action="{% url "lancamentos:delete" pk=lancamento.id %}" method='post'>
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ lancamento.id }}">
              <button class="send-form-button" type="submit">❌</button>
            </form> {% endcomment %}
            </td>
          </tr>
        {% endfor %}
  
  
  
        </tbody>
      </table>
  
    </div>
      {% else %}
      <h1>Não existem lançamentos por enquanto...</h1>
      {% endif %}
  </div> 