<div class="container">
    <div class="row">        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20 font-big">Despesas</h6>
                    <h2 class="text-right"><span class='material-icons'>money_off</span>{{totalizers.sum_debits}}</h2>   
                    <p class="m-b-0 font-small">Compartilhadas<span class="f-right">{{totalizers.sum_shared_debits}}</span></p>
                    <p class="m-b-0 font-small">Não compartilhadas<span class="f-right">{{totalizers.sum_not_shared_debits}}</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Orders Received</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
	</div>
</div>